.box-sizing-reset {
    /* apply sensible box-sizing to all elements */
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 10px 50px;
    border: 2px solid #000000;
    /* remove fixed height so the container grows with content */
}

hr {
    border: none;
    border-top: 2px solid #000000;
    margin: 20px 0;
    width: 100%;
}

h2 {
    font-style: normal;
    
}

h3 {
    color: green;
    font-style: normal;
    font-size: medium;
}

p {
    margin: 0%;
    color: black;
    font-style: normal;
    padding: 2px 0;
}

.blue {
    color: rgb(23, 162, 218);
}